/* src/components/Navbar.css */
.nav-link {
    font-size: 18px;
    font-weight: 500;
    color: #f2f3f4;
    margin-right: 15px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #bfd9f5; 
}

.navbar {
    width: 100%;
    padding: 10px 20px;
    background-color: #f2f3f4; /* Dark background color */
    /* background: url('images/tailwind-ex.svg') center center / cover, 
    /* url('https://tailwindcss.com/_next/static/media/hero@75.b2469a49.jpg') center center / cover; */
    /* url('images/pacificvisionfoundationaura.png') center center / cover;
    background-blend-mode: overlay; */ 
}

.navbar-brand {
    font-weight: 500;
    font-size: 18px;
}
