
.post-detail-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px; 
    /* padding was originally 40 */
}

.post-detail-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.post-meta {
    font-size: 14px;
    color: #888;
    margin-bottom: 30px;
}

/* Content */

.post-content {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}


.post-content p {
    margin-bottom: 2em;  /* Space btwn paras*/
    line-height: 1.6;      
}


.post-detail-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.post-content p {
    margin-bottom: 2em; 
    line-height: 1.6;     
}


.notes-content p {
    font-size: 14px; 
    color: #555;      
    line-height: 1.4;
    margin-bottom: 1em;
}

.post-image-container {
    text-align: center;
    margin: 20px 0;
}

.post-image {
    max-width: 50%; 
    height: auto;  
    /* border-radius: 8px;   */
}

.image-caption {
    font-size: 14px;
    font-style: italic; 
    color: #555;  
    margin-top: 5px;
}



/* Author's Notes Section */
.author-notes-section {
    margin-top: 40px;  
    padding: 20px; 
    border-top: 2px solid #e0e0e0; 
    background-color: #f9f9f9;  
    /* display: block; */
    align-items: center 
}


.author-notes-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;  
}

.author-notes-header h3 {
    font-size: 18px;
    font-weight: normal;
}


/* author's notes formatting */
.icon {
    width: 75px; 
    height: 75px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-right: 10px;  
    border: 1px solid #e0e0e0; 
}



.read-more, .close-notes {
    /* color: #007bff; */
    color: #949494;
    cursor: pointer;
    /* text-decoration: underline; */
    margin-left: 5px;
    font-size: 14px;
}

.read-more:hover, .close-notes:hover {
    /* color: #0056b3; */
    color: #949494;
}

/* tags */

.tags {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap; 
}

.tag {
    background-color: #000000; 
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 10px;
    margin-right: 8px;
    margin-bottom: 8px;
    color: white;
    font-weight: 500;
    /* font-style: italic; */
    display: inline-block;
}


